# å¿½ç•¥å¤§æ?æ¡?project2/app/*.zip
*.zip
*.mp4
*.pth
*.db

# å¿½ç•¥?›æ“¬?°å??‡å?ä»¶å¤¾
venv/
.venv/
env/
node_modules/
__pycache__/

# ©¿²¤¨p±Kª÷Æ_
*-key.json
credentials.json
.env*

!NEW PROJECT/gemini-voice-assistant/frontend/public/videos/**/*.mp4
